
@media screen and(min-width:580px){
	.flex{
		display: flex;
		}
}


body{
	background-color:#F0F2F5;
	font-family: helvetica;
	padding:20%;
}

#three{
	border-radius: 25px;
	padding:5%;
	background-color: #FFF;
	flex-direction:column;
	display:flex;
}

#2{
	color:#1877F2;
	text-color:white;
}

a{
	color:#1877F2;
	text-decoration: none;
}
#head{
	color:#1877F2;
}

#5{
	
}

#6
